[2016-03-14 06:22] akkishinde opened #1 "Issue while importing SDK as module."
Hi,
When we import SDK as module in app then following error occurs,

`Error:Plugin with id 'com.github.dcendents.android-maven' not found.`

Though, I found a workaround for this,

We have to add
compile `com.github.vajro:MaterialDesignLibrary:1.6` as a dependancy
and have to remove `apply plugin: 'com.github.dcendents.android-maven'`

and add this in Gradle,

[code]

[2016-03-14 08:59] hrishikesh-p commented on #1
@akkishinde Akshay , Thanks for the notes on the fix.

You do need to add the jitpack repository to your build.gradle. This is required since we host the SDK out of jitpack Maven repository.

The other error is not related to the hotline SDK. Vajro - Material Design Library is not a dependency for HotlineSDK. [ref](http://www.methodscount.com/?lib=com.github.freshdesk%3Ahotline-android%3A1.%2B)

[2016-03-14 08:59] #1 closed

[2016-04-27 11:04] Yokeshthebouncer opened #2 "DatabaseObjectNotClosedException"
Finalizing a Cursor that has not been deactivated or closed - Hotline DB, but i have cleared the user data using the following code- Hotline.clearUserData(getApplicationContext()) as explained in the document. Can anyone tell me how to close the db and where to close the db.

[2016-04-27 12:18] hrishikesh-p commented on #2
@Yokeshthebouncer  We manage the DB within the SDK and you don't have to close the DB. Are you seeing any exception or error ? Can you please share the stack trace  or log , if any ?

You need to call `clearUserData` only when a different user logs in to make sure the new user doesn't see the previous user's data.

[2016-05-04 08:41] yokeshezumalai commented on #2
No need to call clearUserData, because my app will be used by single user. I'm getting following strict mode error, please see the log below,

05-04 14:14:16.661 3328-3341/com.wassup.laundry1 E/StrictMode: A resource was acquired at attached stack trace but never released. See java.io.Closeable for information on avoiding resource leaks.

[2016-05-04 13:00] hrishikesh-p commented on #2
@Yokeshthebouncer This helps .. We will have it fixed in the next update.

[2016-05-04 14:33] yokeshezumalai commented on #2
ok thank you.

[2016-06-27 09:14] manidesto opened #3 "Icons not following MaterialDesign spec"
`ImageView` size needs to be `48dp` and padding needs to `12dp`. So the resultant icon size is `24dp`. This is not a hard rule like every thing in the Material Spec, but it looks way better that way.

[2016-06-27 09:36] hrishikesh-p commented on #2
This has been fixed in 1.0.10 and no new issues reported.

[2016-06-27 09:36] #2 closed

[2016-06-27 09:45] tryprasannan commented on #3
@manidesto We'll take it up internally and see how we can align to the spec. You can override the dimensions of most of the icons. They are listed here -> [dimens.xml](https://github.com/freshdesk/hotline-android/blob/master/hotline_sdk/src/main/res/values/dimens.xml)

[2016-06-27 09:46] #3 closed

[2016-06-27 19:41] okmanideep commented on #3
@tryprasannan awesome. Thanks.

[2016-06-27 19:47] manidesto opened #4 "Support for Vector Drawables as icons"
From [Android Support Library 23.2](http://android-developers.blogspot.in/2016/02/android-support-library-232.html), we can use `VectorDrawable`s in android apps which support Android versions lower than `LOLLIPOP`. **They reduce a tremendous amount of space** in the final app.

[2016-07-06 14:16] sanketpatel2912 opened #5 "How can i hide the "Powered by hotline" footer on conversation screen"
How can i hide the "Powered by hotline" footer on conversation screen?

[2016-07-12 13:32] rsquare2014 commented on #5
We allow the footer to be hidden for paid accounts. For more details please mail us at support@hotline.io

[2016-07-12 13:32] #5 closed

[2016-07-27 21:02] manidesto opened #6 "Proguard error in 1.0.12"
## TLDR
add `-dontwarn uk.co.chrishenx.calligraphy.**` in your proguard rules

and change your README guide to use fixed version rather than `1.0.+`

## What happened
Pulled the `develop` branch **BUILD FAILED**

ARRGGHHH some proguard sh*t

Try adding some extra rules for updated libraries like auto value

Lot of Googling about auto value proguard rules

ARRGHH this proguard!!!

More googling. No

[2016-07-29 06:57] tryprasannan commented on #6
@manidesto Thanks for bringing this to our notice and sorry for the inconvenience.
We will consider ways to handle this better. Didn't want to force a dependency on everybody as not everybody needs/uses this.

[2016-08-15 13:40] iangmaia opened #7 "Hotline Service running in the background"
I've noticed some service from Hotline running in the background. A few questions:
1) What is that for? Perhaps for polling of new messages when Push isn't enabled?
2) Is there any way of disabling it?
3) It spits out some logging, perhaps that could be configured as well?
08-15 15:31:22.189 2971-3287/<app>I/HOTLINE_SERVICE: Now Processing h
08-15 15:31:22.204 2971-3287/<app>I/HOTLINE_SERVICE: Now

[2016-08-15 14:19] iangmaia opened #8 "Camera orientation issue"
When a user sends a landscape image, it is shown with the wrong orientation on the chat.
We tried it with a Samsung S4.

[2016-08-16 03:49] hrishikesh-p commented on #7
@iangmaia We use an IntentService for all Hotline related processing. It only runs when there is something to process. Most common of these  is when unreadcount of notifications is requested.

We would like to retain this log since this gives us an idea of the events the SDK is processing and helps debugging.

[2016-08-16 04:08] #7 closed

[2016-08-18 05:28] hrishikesh-p commented on #8
@iangmaia Samsung devices do seem to have a different behaviour when it comes to camera orientation. We will have a fix for this in the next SDK update.

[2016-08-19 20:22] tryprasannan commented on #6
This is fixed in [1.0.13](https://github.com/freshdesk/hotline-android/releases/tag/1.0.13)

[2016-08-19 20:22] #6 closed

[2016-09-20 03:55] nanako-sen opened #9 "SDK messing with Android API"
Hello,

I have the weirdest issue I have every encountered.
I have nested fragments in my app and without integrating the SDK getChildFragmentManager() works like expected: getChildFragmentManager().findFragmentById(R.id.fragment) returns the fragment , getFragmentManager().findFragmentById(R.id.fragment) returns null.
By just adding the SDK as dependency getChildFragmentManager().findFragmentById

[2016-09-27 05:37] srikrishnan-ganesan commented on #9
Hi Nano, our team will investigate this at the earliest.

[2016-09-27 11:01] tryprasannan commented on #9
@nanako-sen What you are seeing is probably behaviour differences between different revisions of appcompat-v7 library. Hotline SDK doesn't change the behaviour of ActionBarActivity or appcompat components.

What's happening here is that the SDK declares revision `22.2.1` of `appcompat-v7` and `recyclerview-v7` as a dependency. So when you include the SDK, gradle pickups the latest revision among `

[2016-09-27 16:46] tryprasannan commented on #4
@manidesto Sorry we haven't gotten to this.

We like to keep the SDK flexible, in this case in terms of Android version targeted, there are apps out there built with versions of Android earlier than Marshmallow (5.0, 5.1 etc) and since `VectorDrawables` is supported only from a specific version of the appcompat (23.2 as you have pointed out, which also requires building the app with Marshmallow) o

[2016-09-27 16:46] #4 closed

[2016-10-04 11:26] VipulNarkhede opened #10 "Notificaition icon issue"
I am not able to set the background color behind notification icon on device having android version5.0 and above.

From Android 5.0 and above, we can set background color using method NotificationCompatBuilder.setColor behind notification icon.

Please resolve the issue.

[2016-10-04 14:14] tryprasannan commented on #9
Switching to the right appcompat-v7 revisions should have fixed this, if you're still facing this, please feel free to reopen.

[2016-10-04 14:14] #9 closed

[2016-10-04 15:05] tryprasannan commented on #10
@VipulNarkhede Please include the color as a resource in your app's resources (colors.xml)
`<color name="hotline_notification_accent_color">@color/green</color>`
Please reopen if this doesn't work.

[2016-10-04 15:05] #10 closed

[2016-10-11 18:33] tryprasannan commented on #8
@iangmaia This has been addressed in [1.0.15](https://github.com/freshdesk/hotline-android/releases/tag/1.0.15). Please update to the latest version. Marking this as closed.

[2016-10-11 18:33] #8 closed

[2016-11-22 08:44] rachitmishra opened #11 "Resource Leak"
[code]

[2016-11-22 09:49] tryprasannan commented on #11
@rachitmishra Thanks for reporting. Can you please share the version of Hotline SDK you're facing this on ?

[2016-11-23 17:36] rachitmishra commented on #11
1.0.15

[2016-11-24 06:50] tryprasannan commented on #11
@rachitmishra Thanks for sharing the version number. We'll look into this and share an update.

[2016-12-04 14:09] riyaz opened #12 "Proguard rule is too greedy"
Used proguard rule basically keeps the complete SDK, ideally we don't to keep the full SDK, this is increasing our method counts

[code]

[2016-12-04 14:11] riyaz opened #13 "How to force user to input username/email?"
This was available in freshdesk mobihelp SDK.

[code]

[2016-12-05 08:14] tryprasannan commented on #13
@riyaz Unfortunately this is not supported out of the box with Hotline SDK at this point. This needs to be captured from within the app (may require building the UI, if your app don't already have any UI to capture this) and passed to Hotline. However we'll soon share a snippet/sample to make this easier.

[2016-12-05 20:32] hrishikesh-p commented on #12
Although it seems like it is greedy , all that would save is the methods not used from `com.freshdesk.hotline.Hotline` . Rest of the SDK is already proguarded and will be included in whole as it is cross referenced internally or decoupled from main API calls.

At the moment , changing proguard rules wont give you any major reductions. We will look to improving this.

[2016-12-05 20:39] hrishikesh-p commented on #13
@riyaz  If your app already has a user login, you may use `Hotline.updateUser` API to update the user's name , email or phone number.  you can update this at any time. You can also pass in an external identifier which can be used to identify the user in your system.

We have a [feature  called smart plugs](https://support.hotline.io/support/solutions/articles/221171-what-are-smart-plugs-) that all

[2016-12-05 20:39] #13 closed

[2016-12-07 04:30] dangnv opened #14 "Last message while chatting is not scroll up to top keyboard"

[2016-12-09 12:07] tryprasannan commented on #14
I believe you have reached out to our support team directly as well and we found this was caused by your custom theme and a solution to resolve this has been shared. Closing this here.

[2016-12-09 12:07] #14 closed

[2017-01-11 23:47] hrishikesh-p commented on #11
This leak has been fixed now.

[2017-01-11 23:47] #11 closed

[2017-01-24 06:58] rampr opened #15 "Hotline integration on Kindle Fire"
We see the following warning on Kindle Fire
W/HOTLINE ( 7849): Cannot proceed because the user was not created. Backlog created for message

The same build works properly on android devices. What is this error? Please let us know what should we do to fix it.

[2017-01-27 10:40] rsquare2014 commented on #15
Hey! how often is this happening? we are not able to reproduce this. Is this a consistent behaviour?

[2017-01-27 12:51] hrishikesh-p commented on #15
@rampr This warning should go away on next launch. We reattempt such failures. Can you please check and let us know?

Do mail us any additional logs you may have to support@hotline.io if the issue persists.

[2017-01-27 12:52] rampr commented on #15
Thanks! The issue went away after a few days. But will be helpful to understand what would have triggered this. Is this because of bad internet connection or some other issue ?

[2017-01-27 13:33] hrishikesh-p commented on #15
This can happen when there is a bad internet connection when the user launches the app for the first time. We retry such cases later ( when connectivity is restored or on subsequent launch when internet is available ) .

[2017-01-30 11:51] rampr commented on #15
Doesn't look like an internet issue. Saw the issue again. Seems to be happening only on Kindle devices. I saw the following logs. I can post detailed logs

`/HOTLINE_SERVICE(28062): Now Processing q
I/HOTLINE_SERVICE(28062): Now Processing e
I/HOTLINE_SERVICE(28062): Now Processing d
E/ERROR   (28062): Exception occured
E/ERROR   (28062): java.lang.NullPointerException: Attempt to invoke virtual m

[2017-01-31 22:24] hrishikesh-p commented on #15
Hi @rampr ,

Thanks for stack trace , we will have this fixed in the next update.

[2017-02-06 06:34] kshitij-sminq opened #16 "Missing/Bad FileProvider in v1.2.1"
In hotline android sdk v1.2.1, I get an error toast message saying "missing/bad FileProvider for hotline. Camera capture will fail in devices running Nougat or later (error code 354)." Could you please explain what issue this is and the fix for this? Thank you.

[2017-02-06 06:36] kshitij-sminq opened #17 "Cannot resolve classes in v1.2.1"
In v1.2.1, the following classes cannot be resolved:

import com.freshdesk.hotline.FaqOptions;
import com.freshdesk.hotline.Hotline;

[2017-02-06 06:56] tryprasannan commented on #17
@kshitij-sminq Just to be sure, the version is `1.2.1` and not `v1.2.1`. Can you confirm you are using the correct version ?
Eg: **compile 'com.github.freshdesk:hotline-android:1.2.1'**

[2017-02-06 06:58] kshitij-sminq commented on #17
@tryprasannan yes I am using **compile 'com.github.freshdesk:hotline-android:1.2.+'** as suggested in the docs. I have tried cleaning and rebuilding the project multiple times too. I have reverted to version 1.2.0 for now.

[2017-02-06 07:24] tryprasannan commented on #16
@kshitij-sminq For apps targeting Android 7.0+, Hotline SDK requires a file provider to share the file with camera app for camera capture. Please include the FileProvider element in your app's AndroidManifest.xml. Please refer to [section 1.1 of the integration guide](https://support.hotline.io/support/solutions/articles/221188-hotline-android-sdk-integration-steps#android_24) for more information

[2017-02-06 07:24] #16 closed

[2017-02-06 07:28] tryprasannan commented on #15
@rampr This has been fixed in version [1.2.1](https://github.com/freshdesk/hotline-android/releases/tag/1.2.1). Please update and try it out.

[2017-02-09 12:18] #15 closed

[2017-02-13 07:02] tryprasannan commented on #17
@kshitij-sminq Closing this issue as it is working per your confirmation at https://support.freshdesk.com/helpdesk/tickets/992227
Please reopen if this is still an issue for you.

[2017-02-13 07:02] #17 closed

[2017-03-30 03:38] LeoYe168 opened #18 "android 7 会crash"
Fatal Exception: android.os.FileUriExposedException: file:///storage/emulated/0/Android/data/com.daigou.sg/cache/tmp_pics/pic_1490807007065291825884.jpg exposed beyond app through ClipData.Item.getUri()

[2017-03-30 06:20] tryprasannan commented on #18
@LeoYe168 Can you confirm what version of SDK you have integrated ?

[2017-03-30 06:25] LeoYe168 commented on #18
@tryprasannan  compile 'com.github.freshdesk:hotline-android:1.0.+'

[2017-03-30 06:31] tryprasannan commented on #18
@LeoYe168 We've released a fix for this some time ago. Recommend you try this with the current latest version 1.2.1. Please refer our [integration guide](https://support.hotline.io/support/solutions/articles/221188-hotline-android-sdk-integration-steps#android_24) here for further instructions

[2017-04-06 08:04] tryprasannan commented on #18
@LeoYe168  Closing this now. If you're still facing this issue, please feel free to reopen this issue.

[2017-04-06 08:04] #18 closed

[2017-04-06 08:14] LeoYe168 commented on #18
thanks, but i can not reproduce bug，

[2017-05-15 05:44] bijoshtj opened #19 "Crashing in lolipop and lesser with latest appcompatv7 library"
Hi,

My project is integrated with hotline sdk and facebook sdk.
Recently I upgraded my facebook sdk , which requires appcompatv7 version 25+.
When i use this version of appcompat v7, hotline sdk crashes for android versions lolipop and lesser.
Trace is added below:
Reason is explained in this [link](http://stackoverflow.com/questions/35819290/invalid-drawable-tag-vector).
Looks like need a fix in

[2017-05-15 08:10] tryprasannan commented on #19
@bijoshtj Can you confirm if you are attempting to set a vector drawable for one of Hotline icons ? Hotline SDK doesn't support using vector drawables for icons. Also is this happening on any other activity ?

[2017-05-15 09:38] bijoshtj commented on #19
@tryprasannan Im not setting icons for hotline. its using default icons.
Trace says that its happening with hotline sdk (com.freshdesk.hotline.activity.CategoryListActivity.onCreate).
It happens when i trigger Hotline.showFAQs(context);

[2017-05-15 10:29] bijoshtj commented on #19
@tryprasannan  After I upgraded to appcompat v7 25,
I was getting following error for hotline, and to fix this i had to add (support-vector-drawable.jar) dependency.

W/System.err( 2477): java.lang.NoClassDefFoundError: android.support.graphics.drawable.VectorDrawableCompat
W/System.err( 2477): 	at android.support.v7.widget.AppCompatDrawableManager$VdcInflateDelegate.createFromXmlInner(AppCompatDr

[2017-05-15 11:21] tryprasannan commented on #19
@bijoshtj Can you share the logs specifically following **Binary XML file line #17: invalid drawable tag vector** ?

[2017-05-15 12:50] bijoshtj commented on #19
@tryprasannan Heres the full trace:

05-15 18:21:12.851 27419-27419/com.hashcube.sqmtest E/AndroidRuntime: FATAL EXCEPTION: main
                                                                      java.lang.RuntimeException: Unable to start activity ComponentInfo{com.hashcube.sqmtest/com.freshdesk.hotline.activity.CategoryListActivity}: android.content.res.Resources$NotFoundException: File res/d

[2017-05-17 06:54] bijoshtj commented on #19
@tryprasannan Hi, any clue ?

[2017-05-18 18:10] tryprasannan commented on #19
@bijoshtj
1. Any reason you're including the jar instead of an AAR for the support-vector-compat ?
2. We tried a sample app with tagetSdkVersion 25, appcompat-v7 r25 and support-vector-compat r25 on a lollipop device and couldn't reproduce this.
3. Have you included the following flag for vector drawbles support ?
[code]

[2017-05-22 13:18] bijoshtj commented on #19
@tryprasannan Hi we are using ant build(we cant move out of it for now) and hence we are creating required lib projects by extracting aar files.

Similiarly we extracted support-vector-drawable.aar and using as lib project and included appcompatv7 and vector-drawable as lib projects for hotline sdk. And yes it do have vector-drawable.jar file.

Below given one of the recomendation from [stackoverf

[2017-05-22 17:32] tryprasannan commented on #19
@bijoshtj Since it's in static block & not tied to life cycle callbacks, can you try invoking setCompatVectorFromResourcesEnabled() from your application class itself ?

[2017-05-23 05:50] bijoshtj commented on #19
@tryprasannan I tried that already, which is throwing same error.

[2017-05-30 07:04] vibinr opened #20 "Typo in styles.xml"
"Survey", not "Survery". Just pointing out. https://github.com/freshdesk/hotline-android/blob/master/hotline_sdk/src/main/res/values/styles.xml

(thought I made a typing mistake myself, had to check the source to realize it's not me!)

[2017-05-31 16:05] tryprasannan commented on #19
@bijoshtj Sorry for the delay. We haven't been able to reproduce this issue. Can you please share a sample project where this is reproducible ?

[2017-05-31 16:10] tryprasannan commented on #20
@vibinr Thanks for pointing this out. We'll fix this in the next release.

[2017-06-01 04:38] PankajRaincan opened #21 "File URI exposed exception"
I have integrated hotline in my application but it is randomely crashing at this point

logs--
android.os.FileUriExposedException:
  at android.os.StrictMode.onFileUriExposed(StrictMode.java:1799)
  at android.net.Uri.checkFileUriExposed(Uri.java:2346)
  at android.content.ClipData.prepareToLeaveProcess(ClipData.java:832)
  at android.content.Intent.prepareToLeaveProcess(Intent.java:8948)
  at and

[2017-06-01 06:07] PankajRaincan opened #22 "Android 7.0+ issue in Hotline v1.2.3"
![screenshot_20170601-110649](https://cloud.githubusercontent.com/assets/28567025/26666620/8fea769e-46be-11e7-9bba-365801266f23.png)
I am not able to capture image through hotline chat as I am using Android Nougat

[2017-06-01 06:35] #22 closed

[2017-06-14 06:06] chaitanya-exp commented on #19
@tryprasannan facing the same issue with Hotline.showConversations().
I can be the open channel activity, but when clicked on channel to open the conversation it throws a crash.

[2017-06-14 06:15] chaitanya-exp opened #23 "Crashing when clicked on conversations"
On Version 1.2.3 with custom theme, when clicked on channel to see a conversation the following crash occurs [Device version 7.0].

[code]

[2017-06-14 06:38] chaitanya-exp commented on #23
The same crash on 4.4.2

[code]

[2017-06-14 06:40] chaitanya-exp commented on #19
@bijoshtj Did you find the solution?

[2017-06-14 17:27] tryprasannan commented on #21
@PankajRaincan Sorry missed this earlier. Can you please confirm your SDK version ?  Also can you confirm if you have followed the steps for adding support for FileProvider when targeting Android 7.0  from the [integration guide](https://support.hotline.io/support/solutions/articles/221188-hotline-android-sdk-integration-steps/#android_24) ?

[2017-06-14 17:29] tryprasannan commented on #23
@chaitanya-exp Can you help us with the custom theme you are using that causes this ?

[2017-06-14 17:31] tryprasannan commented on #19
@chaitanya-exp Is your issue also related to vector drawables ? If yes, can you help us with a sample project or instructions to reproduce this? We haven't been able to reproduce this (vector drawable) from our end.

[2017-06-15 05:07] PankajRaincan commented on #21
Yes followed the steps and fixed the bug,Thnx for the input

[2017-06-15 05:07] #21 closed

[2017-06-19 06:41] PankajRaincan opened #24 "No Such Element Exception"
java.util.NoSuchElementException:
  at java.util.LinkedList.removeFirstImpl(LinkedList.java:689)
  at java.util.LinkedList.remove(LinkedList.java:899)
  at com.freshdesk.hotline.service.HotlineService.onHandleIntent(Unknown Source:0)
  at android.app.IntentService$ServiceHandler.handleMessage(IntentService.java:65)
  at android.os.Handler.dispatchMessage(Handler.java:102)
  at android.os.Looper.lo

[2017-06-19 06:59] tryprasannan commented on #24
@PankajRaincan Can you please confirm the version this is happening on ? If you're on older versions, we recommend upgrading to the latest version

[2017-06-19 07:04] PankajRaincan commented on #24
I'm on 1.2.3

[2017-06-21 13:19] Vatreni opened #25 "java.lang.NullPointerException in faq"
Hi, I'm using your library v.1.2.3 and faced with this crash while using faq on Sony Xperia M2 (Android 4.3)          java.lang.NullPointerException
	at android.webkit.WebViewClassic.sendOurVisibleRect(WebViewClassic.java:3174)
	at android.webkit.WebViewClassic.onScrollChanged(WebViewClassic.java:5718)
	at android.webkit.WebView.onScrollChanged(WebView.java:2154)
	at com.freshdesk.hotline.activity

[2017-06-21 14:29] tryprasannan commented on #25
@Vatreni Thanks for reporting this. From the stack trace it looks like this is happening on FAQ detail screen, do you know when and how often this is happening on FAQ detail screen or any other information that can help us reproduce this issue?

[2017-06-21 14:32] tryprasannan commented on #24
@PankajRaincan Is this causing a crash or are you just noticing the logs being printed ? Also can you share more information from logs including the log tag and an additional lie Hotline SDK prints which include manufacturer, model, os version etc

[2017-06-21 14:33] tryprasannan commented on #23
@chaitanya-exp Without the custom theme, we are unable to debug this issue. Please let us know if you are still facing this issue ? If yes, please share the custom theme you are using that causes this issue?

[2017-06-21 14:35] tryprasannan commented on #19
@bijoshtj  Can you please share a sample project where this is reproducible ?

[2017-06-21 15:07] Vatreni commented on #25
@tryprasannan Sure,
1. Start Hotline screen via Hotline.showFAQs
2. Select General category
3. Select one of the subcategories
4. Tap Back at once, !don't wait until data loads like as if you don't want to select this subcategory
5. Repeat steps 2-4 until app crashes
Also this crash can be reproduced on Samsung Galaxy Nexus (4.3)

[2017-06-22 04:59] tryprasannan commented on #25
@Vatreni Thanks for the information. We'll try to reproduce this issue from our end and update you on the status.

[2017-06-22 05:00] PankajRaincan commented on #24
I saw the crash log on google play developers console
Android version-Android 5.0
Device-Galaxy S4 (ja3g)
Manufacturer-Samsung
RAM (MB)- 2048
Screen size-1080 × 1920
Screen density (dpi)-480
Native platform-armeabi-v7a
OpenGL ES version-2.0
CPU make-Samsung
CPU model-Exynos 5410

[2017-06-22 05:12] tryprasannan commented on #19
@bijoshtj Do note that the crash with resource not found exception is for `res/drawable/abc_vector_test.xml` which is included in support lib and not from Hotline SDK and is not referenced from within Hotline SDK either.

Please share exact revision of appcompat and support libs you've included and the build tools version you're using in your app if you're not able to provide us with a sample proj

[2017-06-22 05:49] bijoshtj commented on #19
@chaitanya-exp  nope. :(

[2017-06-23 15:23] tryprasannan commented on #24
@PankajRaincan Can you check and let us know what version of the app (and hence Hotline SDK) this particular user was on ? This was indeed an issue in an old versions and got fixed in version 1.0.8 of SDK.

[2017-07-03 06:10] kshitij-sminq opened #26 "HotlineComponentNotFoundException"
I am getting the following exception frequently

`Caused by com.freshdesk.hotline.exception.HotlineComponentNotFoundException: Component of Hotline SDK not found in your app's AndroidManifest.xml + (com.freshdesk.hotline.receiver.HotlineReceiver missing!)
       at com.freshdesk.hotline.util.o.L(Unknown Source)
       at com.freshdesk.hotline.Hotline.init(Unknown Source)`

I have added your progua

[2017-07-15 13:36] DvTonder commented on #19
Setting the same error, same abc_vector_test.xml missing, support library 26.0.0-beta2

[2017-07-17 16:24] tryprasannan commented on #26
@kshitij-sminq We've noticed this happening randomly on specific manufacturers' devices running 7.0+. Can you confirm the device manufacturer and the OS version this is happening on ?

[2017-07-18 09:24] kshitij-sminq commented on #26
Here's a link to the crash info http://crashes.to/s/2f1cfecadc7

[2017-07-18 12:12] tryprasannan commented on #26
@kshitij-sminq Thanks for the logs. We're working on a fix for this. Will update this thread once it's live.

[2017-07-18 13:04] MuthuFD commented on #26
@kshitij-sminq We have fixed this issue in version 1.2.4

[2017-07-18 13:04] #26 closed

[2017-07-18 13:05] MuthuFD commented on #20
@vibinr Thanks for pointing it out. We have fixed it version 1.2.4.

[2017-07-18 13:05] #20 closed

[2017-07-25 13:10] bhaveshopenxcell opened #27 "Its getting crashed due to use of ActionBarActivity in your library when app is uses latest support library(v26.0.0) at the time of writing"
Hello It seems app is providing below crash when app is running with latest support library(v26.0.0) with customized them.

**Please Note:** Its working absolutely fine when it uses last stable version 25.4.0 in my app.

Error for your reference:

`FATAL EXCEPTION: main
                                                           Process: com.cheep, PID: 25356

[2017-07-26 06:18] tryprasannan commented on #27
@bhaveshopenxcell Thanks for reporting this. The SDK references the old name for maintaining compatibility with applications still targetting older versions of Android. We'll look at ways to support this.

[2017-07-26 07:11] RahulJanagouda opened #28 "Hotline.jar uses the support v7 22.2.1"
Hey @tryprasannan
After forking, I tried making your SDK compatible to latest _Android Studio 3.0 with Gradle plugin 3_ support, Also with new support library and play services. **But since your hotline.jar bundled in the SDK libs uses v7:22.2.1**, (this might be to support Android 10+) I guess you need to maintain two branches to supporting latest and 10+ sdks.
Let us know... We are currently con

[2017-07-26 08:23] tryprasannan commented on #28
@RahulJanagouda We do support older versions of Android and hence older support lib is default, but can work with newer versions upto 25.x.x. Android Studio 3.0 with Plugin 3.0 may not be the issue so much as the support v7 revision 26.0.x. Can you try with 25.x.x ?

[2017-07-27 13:54] ishaansrm opened #29 "Allow .setLargeIcon(Bitmap bitmap) for HotlineNotificationConfig"
HotlineNotificationConfig .setLargeIcon(@DrawableRes int largeIconResId) accepts Drawable Res only. This way its not possible to set vectorDrawables as large icons.

If you could allow .setLargeIcon(Bitmap bitmap) then vectorDrawables can be resolved to Bitmap and be passed here.

[2017-07-27 16:51] tryprasannan commented on #29
@ishaansrm We'll consider this request, but the way the SDK treats this today is it persists and reload the notification options on subsequent launches and this probably wouldn't play well with that.

[2017-07-27 16:55] tryprasannan commented on #28
@RahulJanagouda We'll look at ways to address this as part of our next release. Meanwhile if you want to target Android O and build with support lib 26.x.x, we recommend creating a proxy class manually. i.e. create the class **ActionBarActivity** with the same package name as it is present in support library and extend **AppCompatActivity** and include this in your project and it should work.

[2017-07-27 16:55] tryprasannan commented on #27
@bhaveshopenxcell We'll look at ways to address this as part of our next release. Meanwhile if you want to target Android O and build with support lib 26.x.x, we recommend creating a proxy class manually. i.e. create the class **ActionBarActivity** with the same package name as it is present in support library and extend **AppCompatActivity** and include this in your project and it should work.

[2017-07-27 21:22] kaseyb002 commented on #28
Here is my newly created ActionBarActivity.kt:

[code]

Is this what you suggested? I still get the following error:

[code]

[2017-07-31 23:00] kaseyb002 commented on #28
Reverted back to v25 and now it is working.

[2017-08-04 14:50] Naresh448 opened #30 "E/UncaughtException: java.lang.NoClassDefFoundError: Failed resolution of: Lcom/freshdesk/hotline/activity/InterstitialActivity;"
E/UncaughtException: java.lang.NoClassDefFoundError: Failed resolution of: Lcom/freshdesk/hotline/activity/InterstitialActivity;
                                                                           at com.freshdesk.hotline.util.ar.eY(Unknown Source)
                                                                           at com.freshdesk.hotline.util.ar.eT(Unknown Source)

[2017-08-04 17:16] tryprasannan commented on #30
@Naresh448 Can you share more information to help us understand this better.
1. Are you facing this on all devices or specific devices?
2. Does this happen when the app is run from Android Studio ? Is Instant Run enabled?
3. What is the gradle & gradle plugin version ?

[2017-08-07 06:09] Naresh448 commented on #30
@tryprasannan
1. I have tested it on nexus5x(7.1.2).
2. yes it is runned from Android Studio. Instant run is disabled.
3.  compile 'com.github.freshdesk:hotline-android:1.2.4' amd compile sdkversion is 26

[2017-08-07 06:27] tryprasannan commented on #30
@Naresh448 Thanks for this information. Can you share the specific gradle version (3.3/3.5/4.0 etc) and Android gradle plugin version (2.3.x etc) you're using ?

[2017-08-07 06:36] Naresh448 commented on #30
@tryprasannan
Gradle version: 4.0.1
Android plugin version : 2.3.3

[2017-08-09 07:25] chaitanya-c opened #31 "Keyboard does not get closed on back from chat screen"
Steps to reproduce:
- Start ChatScreen from Activity A
- Initiate chat so that keyboard opens
- Click on back so that it goes back to Activity A
- Keyboard remains open in Activity A

[2017-08-10 07:28] Naresh448 commented on #30
@tryprasannan  are you able to figure out why it is happening or you required more information about it please comment.

[2017-08-10 09:28] tryprasannan commented on #30
@Naresh448 It looks like there's an issue when building with Gradle 4.0, can you try with Gradle 3.5 ?

[2017-08-11 07:38] tryprasannan commented on #23
@chaitanya-exp We're closing this as this can't be debugged without the custom theme. If you're still facing this, please reopen and share the custom theme.

[2017-08-11 07:38] #23 closed

[2017-08-11 15:17] Naresh448 commented on #30
@tryprasannan we have tried but its not working

[2017-08-11 15:32] tryprasannan commented on #30
@Naresh448 We're able to reproduce this issue. We think it's a build tools issue at this point. We've tried several combinations of gradle plugin & gradle versions. We'll continue investigating and share once we have an update.

[2017-08-12 16:49] dimipaun commented on #30
Hi, we're also getting this:
86 20314-20314/? E/AndroidRuntime: FATAL EXCEPTION: main
                                                   Process: co.edgeapp.backstage, PID: 20314
                                                   java.lang.NoClassDefFoundError: Failed resolution of: Landroid/support/v7/app/ActionBarActivity;
                                                       at com.freshdesk.h

[2017-08-12 18:09] tryprasannan commented on #30
@dimipaun ActionBarActivity is still used to keep the SDK compatible with app's targeting older Android versions. But it can be resolved by adding a proxy class manually if you are building with support lib 26.x.x where this is removed. Create the class ActionBarActivity with the same package name as it is present in support library and extend AppCompatActivity and include this in your project and

[2017-08-13 21:54] dimipaun commented on #30
OK, but shouldn't this be handled by your SDK? I mean, this will fail with this strange error for anyone compiling with the lastest SDK, no?

[2017-08-14 03:50] tryprasannan commented on #30
@dimipaun Yes, this should ideally be handled by the SDK. What was suggested above is a temporary workaround. We're looking at ways to improve this experience.

[2017-08-16 10:40] bhaveshopenxcell commented on #27
Kindly keep this on High priority as its something which would restrict us targeting the app to latest SDK version. Talking about the workaround you suggested is obviously not the proper solution.

[2017-08-18 12:47] tryprasannan commented on #28
With 26.x.x, we tested with the proxy class in java and verified it works fine. In fact appcompat-v7 lib itself was shipping ActionBarActivity as a proxy class since introduction of AppCompatActivity.
Refer [here for more info](https://support.hotline.io/support/solutions/articles/221188-hotline-android-sdk-integration-steps#android8).

[2017-08-18 12:47] #28 closed

[2017-08-23 04:42] j2emanue opened #32 "requesting audio permission - how to remove"
as you know on older devices of android the audio permission will be shown on the play store when user downloads the app. on newer devices it will be requested at run time.  i dont need this permissions but i'd like it removed from the manifest so users are not intimidated to download my app based on the need of an audio permission. how can i do this ? do you have a sdk without this feature perhap

[2017-08-23 09:23] j2emanue commented on #32
it was reported i can do this: ` <uses-permission android:name="android.permission.RECORD_AUDIO" tools:node="remove"/>` in my top level androidManfest. thanks

[2017-08-23 09:23] #32 closed

[2017-09-07 06:08] bhaveshopenxcell commented on #30
This is really sad that not one is keen to resolve this issue at earliest. This is very very important to resolve as we just couldnt able to make our app compatible for Android Oreo just because of @hotline SDK and its really sad that they are just ignoring our comments. They should react very prompt fully with this major issue and should resolve at earliest. I doubt if I would recommend using hot

[2017-09-07 06:22] tryprasannan commented on #30
@bhaveshopenxcell We have shared a work around already for building with Oreo as Target [above](https://github.com/freshdesk/hotline-android/issues/30#issuecomment-321996954). If this still doesn't work for you, please reply here. We have documented the workaround in our[ integration guide ](https://support.hotline.io/support/solutions/articles/221188-hotline-android-sdk-integration-steps#android8

[2017-09-25 08:12] vibinr opened #33 "OutOfMemoryError in Hotline's AsyncTask"
What the title says. Stacktrace below:
[code]
I tried reproducing it by uploading high resolution images (and taking pictures) in conversation view, but that didn't work.

[2017-10-04 09:01] vibin commented on #33
Anything on this?

[2017-10-06 14:02] tryprasannan commented on #33
@vibinr We haven't been able to reproduce this issue. Was this on when taking pictures or selecting pictures from gallery ? Do you have more information about the device ? Wondering if it's a device with camera producing particularly large images.

[2017-10-06 14:41] tryprasannan commented on #31
@chaitanya-c Sorry we missed this. This is not the default behaviour. Are you making any customizations in the manifest ?

[2017-10-06 14:42] tryprasannan commented on #30
If this doesn't work, please reach out to us @ support@hotline.io or reopen this issue.

[2017-10-06 14:42] #30 closed

[2017-10-06 14:45] tryprasannan commented on #27
@bhaveshopenxcell When building with Oreo as Target, please follow our [ integration guide ](https://support.hotline.io/support/solutions/articles/221188-hotline-android-sdk-integration-steps#android8) for making it compatible with Oreo. If this still doesn't work for you, please reach out to us at support@hotline.io or reply here.

[2017-10-06 14:45] #27 closed

[2017-10-06 14:48] tryprasannan commented on #19
Closing this as its not reproducible and not enough information to debug this issue further. Please reply here or send an email to support@hotline.io if you have any further information or a sample code where this is reproducible.

[2017-10-06 14:48] #19 closed

[2017-10-06 15:04] vibin commented on #33
I'm not sure. Some info related to devices here (grabbed from Crashlytics), also including the activity stack of our app when it crashed: [hotline_oom.txt](https://github.com/freshdesk/hotline-android/files/1363056/hotline_oom.txt)

(*main.MainActivity* is an Activity from our app, rest all are from Hotline SDK)

[2017-10-06 17:07] chaitanya-exp commented on #31
@tryprasannan  No customizations in the manifest

[2017-10-08 10:22] tryprasannan commented on #31
@chaitanya-c Is this reproducible on all devices for you? If this is happening on specific devices only, please share device info (incl manufacturer,model, os version etc)

[2017-10-25 13:29] kshitij-sminq commented on #30
I tried out your workaround on the integration guide but it did not work in my case. I have reverted to API 25 for now.
Hotline version 1.2.5
Support library version 26.1.0
Sdk version 26
Build tools 26.0.2

[2017-11-03 11:01] ghost commented on #30
I am facing the same issue. The package solution is a VERY hacky way to fix this, considering the issue as reported in Aug, its highly disappointing that hotline is yet to fix it.

[2017-11-23 06:12] ManojMadanmohan opened #34 "How to change the "Inbox" title in chat screen"
![zophop_hotline_chat_screen](https://user-images.githubusercontent.com/17469318/33160521-28fcdfd0-d043-11e7-9876-80eb3e44fc01.png)

Wanted to now how can I change the "Inbox" title in chat screen as shown above?

[2017-11-23 07:26] tryprasannan commented on #34
@ManojMadanmohan This is the message channel name/title from the backend. You can update the same by logging into your agent portal and update the same in Settings > Message Channels

[2017-11-23 07:26] #34 closed

[2017-11-23 10:13] ManojMadanmohan commented on #34
Thanks @tryprasannan

[2017-11-24 09:06] ManojMadanmohan opened #35 "ChannelListActivity shown before Chat Screen (ConversationDetailActivity)"
The first time the user opens the chat screen, "ChannelListActivity" is launched and then after a few seconds the actual chat screen ("ConversationDetailActivity") is launched. Subsequently, the chat screen is launched directly.

![zophop_hotline](https://user-images.githubusercontent.com/17469318/33202968-7a45c668-d124-11e7-96e0-5d00caa86f01.gif)

We launch the screen by calling : Hotline.showCon

[2017-12-18 08:11] kshitij-sminq opened #36 "NoClassDefFoundError in v1.2.6"
Please check this. I'm not able to update my app to API 26 because of Hotline.
Hotline 1.2.6
compileSdkVersion 26
buildToolsVersion "26.0.3"
supportLibraryVersion = "26.1.0"

[code]

[2018-01-09 07:47] AmitBarjatya commented on #36
Were you able to find a solution for this?
I am facing a similar issue while upgrading sdk to 1.2.6 from 1.2.2 (my compile sdk is 22)

java.lang.NoClassDefFoundError: Failed resolution of: Lcom/freshdesk/hotline/activity/InterstitialActivity;

[2018-01-09 07:58] kshitij-sminq commented on #36
No. It seems they have stopped development and support for Hotline.

[2018-01-09 08:04] AmitBarjatya commented on #36
Yeah, that they did.
You might want to see this [link](https://support.hotline.io/support/solutions/articles/221188-hotline-android-sdk-integration-steps#android8). It solved the crash for me but still facing the issue with some proguard config tho.

[2018-01-18 09:56] Aditya94A commented on #12
Any updates?

[2018-02-26 08:11] vibin commented on #33
We've seen quite a bit of decrease in OOMs in recent app versions (also, actually we had many different OOM stacktraces) - so I'm guessing Hotline has nothing to do with it.

Sorry for the noise!

[2018-02-26 08:11] #33 closed

[2018-04-05 09:49] nitinnatural commented on #27
create a package inside **yourApp>src>main>java** package with name:
**android.support.v7.app**

Inside that create a **class ActionBarActivity** which extends **AppCompatActivity**

then it should work.

[2018-08-16 10:51] sagar-viradiya opened #38 "CONNECTIVITY_CHANGE implicit broadcast"
If you target API level 27 there is restriction on implicit broadcast. Since HotlineNetworkChangeReceiver listen for connectivity change this won't work if SDK consumer target to API level 27. Any plan to handle this ?

[2018-08-17 17:01] tryprasannan commented on #38
@sagar-viradiya Thanks for reaching out to us. This affects only the auto retry mechanism for messages when the app targets the later versions of OS. ~That said, we'll look at ways to improve the experience.~

Edit: We no longer support this product, would recommend you try out our new and improved product [Freshchat](https://freshchat.com)

[2018-08-20 17:56] #38 closed